<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">

	<!-- Vo 필드명 과 Db 컬럼명 매핑 -->
	<resultMap type="kr.smhrd.domain.Board" id="board">
		<result property="idx" column="qna_seq"/>
		<result property="title" column="qna_title"/>
		<result property="content" column="qna_content"/>
		<result property="writer" column="user_id"/>
		<result property="indate" column="qna_date"/>
		<result property="count" column="qna_count"/>
		<result property="kinds" column="qna_kinds"/>
	</resultMap>

	<!-- QnA 온라인문의 글 목록 불러오기(페이징) -->
	<select id='QnaList' resultType="kr.smhrd.domain.Board" resultMap="board">
		SELECT @ROWNUM:=@ROWNUM+1 AS rn, qna_seq, qna_title , 
		qna_content, qna_date, user_id, qna_count, qna_kinds 
			FROM qna_info qi , (SELECT @ROWNUM:=0) AS R 
			<if test="keyword != null">
				WHERE qna_title like concat('%', #{keyword}, '%')
			</if>
			ORDER BY rn desc
		LIMIT #{skip}, #{amount}
	</select>
	
	<!-- QnA 온라인문의 상세페이지 불러오기 -->
	<select id="QnaContent" resultType="kr.smhrd.domain.Board" resultMap="board">
		select * from qna_info where qna_seq=#{idx}
	</select>
	
	<!-- QnA 온라인 문의 글쓰기 -->
	<insert id="QnaInsert" parameterType="kr.smhrd.domain.Board">
		insert into qna_info(qna_title, qna_content, qna_date, user_id) 
		values(#{title}, #{content}, now(), #{writer})
	</insert>
	
	
	<!-- QnA 온라인 문의 글 수정 -->
	<update id="QnaUpdate" parameterType="kr.smhrd.domain.Board">
		update qna_info set qna_title=#{title}, qna_content=#{content} where qna_seq=#{idx}
	</update>
	
	<!-- QnA 온라인 문의 글 조회수 -->
	<update id="QnaContentCount" parameterType="kr.smhrd.domain.Board">
		update qna_info set qna_count = qna_count + 1 where qna_seq=#{idx}
	</update>
	
	<!-- QnA 온라인 문의 목록 전체 개수 -->
	<select id="boardTotal" resultType="int">
		select count(*) from qna_info
			
			<if test="keyword != null">
				where user_id like concat('%', #{keyword}, '%')
			</if>
	</select>
	
 
	
</mapper>