<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.MemberMapper">

<resultMap type="kr.smhrd.domain.MemberVO" id="member">
	<result property="id" column="user_id"/>
	<result property="pw" column="user_pw"/>
	<result property="name" column="user_name"/>
	<result property="phone" column="user_phone"/>
	<result property="email" column="user_email"/>
	<result property="Postalcode" column="Postalcode"/>
	<result property="addr" column="user_addr"/>
	<result property="joindate" column="user_joindate"/>
	
</resultMap>

	<!-- 로그인 -->
	<select id="MemberLogin" resultType="kr.smhrd.domain.MemberVO" resultMap="member">
		SELECT  * 
		FROM user_info ui 
		JOIN addr_info ai ON ui.user_id = ai.user_id
		WHERE ui.user_id=#{id} and ui.user_pw=#{pw}
	</select>
	
	<!-- 소셜 멤버 로그인 -->
	<select id="Social_memberLogin" parameterType="String" resultType="kr.smhrd.domain.MemberVO" resultMap="member">
		select * from user_info where user_email=#{email}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(user_email) FROM user_info WHERE user_email= #{email}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(user_id) FROM user_info WHERE user_id= #{id}
	</select>
	
	<!-- 특정 회원정보 정보검색 -->
	<select id="selectOne" parameterType="String" resultType="kr.smhrd.domain.MemberVO" resultMap="member">
		SELECT  * 
		FROM user_info ui 
		JOIN addr_info ai ON ui.user_id = ai.user_id
		WHERE ui.user_id=#{id}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="MemberUpdate" parameterType="kr.smhrd.domain.MemberVO">
		update user_info set user_email=#{email}, user_pw=#{pw}, user_phone=#{phone}, user_addr=#{addr} where user_id=#{id}
	</update>
	
	<!-- 회원 주소 정보 수정 -->
	<update id="addrUpdate" parameterType="kr.smhrd.domain.MemberVO">
		update addr_info set Postalcode=#{Postalcode}, addr=#{addr}, 
		addr1=#{addr1}, addr2=#{addr2} where user_id=#{id}
	</update>

	<!-- 회원목록 전체 개수 -->
	<select id="memTotal" resultType="int">
		select count(*) from user_info
			
			<if test="keyword != null">
				where user_id like concat('%', #{keyword}, '%')
			</if>
	</select>
	
	<!-- 회원관리 목록 불러오기 (페이징)-->
	<select id="memberList" resultType="kr.smhrd.domain.MemberVO" resultMap="member">
		SELECT @ROWNUM:=@ROWNUM+1 AS rn, user_id , 
		user_email, user_name, user_addr, user_phone, user_joindate 
			FROM user_info ui , (SELECT @ROWNUM:=0) AS R 
			<if test="keyword != null">
				WHERE user_id like concat('%', #{keyword}, '%')
			</if>
			ORDER BY rn desc
		LIMIT #{skip}, #{amount}
	</select>	
	
	
</mapper>