<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssukssuk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ssukssuk"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Diary_pic"
            android:exported="false" />
        <activity
            android:name=".BoardEditActivity"
            android:exported="false" />
        <activity
            android:name=".diary_select_edit"
            android:exported="false" />
        <activity
            android:name=".ServiceCenter.ScAnswerWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Board_answer"
            android:exported="false" />
        <activity
            android:name=".ServiceCenter.ScListSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceCenter.ScEditActivity"
            android:exported="false" />
        <activity
            android:name=".Diary_write"
            android:exported="false" />
        <activity
            android:name=".Plant_List"
            android:exported="false" />
        <activity
            android:name=".ServiceCenter.ScWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Reg_Plant_reg"
            android:exported="false" />
        <activity
            android:name=".Setting.EditActivity"
            android:exported="false" />
        <activity
            android:name=".Setting.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".Find.Pw.PwFindSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Find.Pw.PwFindFailActivity"
            android:exported="false" />
        <activity
            android:name=".BoardListSelectActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity2"
            android:exported="false" />
        <activity
            android:name=".TestFail"
            android:exported="false" />
        <activity
            android:name=".Find.Id.IdFindFailActivity"
            android:exported="false" />
        <activity
            android:name=".Find.Id.IdFindSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Find.Pw.PwFindActivity"
            android:exported="false" />
        <activity
            android:name=".Find.Id.IdFindActivity"
            android:exported="false" />
        <activity
            android:name=".SignActivity"
            android:exported="false" />
        <activity
            android:name=".TestSuccess"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"/> >
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.ssukssuk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>